<html>
    <head>

        <title>tools</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/estilos.css">
        <link rel="icon" type="png" href="../static/img/icono.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>

    <body>

        <div class="mains">

            <div class="container-logo">

                <div class="logo"></div>
                
            </div>

            <div class="container-elements">
                
                <div class="menu" id="menu">

                    <div class="opciones" id="opciones">

                        <div class="up" id="up"></div>
        
                        <div class="videos" id="videos"></div>
        
                        <div class="musica" id="musica"></div>
                        
                        <div class="image" id="image"></div>
        
                        <div class="lector" id="lector"></div>

                        <div class="down" id="down"></div>
                    </div>
        
                </div>

                <!-- Este es el panel de descaraga de videos  action="/enviar-url" method="post" -->
    
                <div class="panel" id="panelv">

                    <form class="enviar-url" id="urlForm">
        
                        <div class="form-input-material">
        
                            <input type="text" name="url" id="url" placeholder=" " autocomplete="off" class="form-control-material url" required />
                            <label for="url">URL</label>
                    
                        </div>

                        <div class="loader" id="loader">
                            <div class="loader2" id="loader"></div>
                        </div>
                        
                        <div class="preview" id="preview"></div>
        
                        <div class="botones">

                            <button type="button" class="btn" id="btn" onclick="mostrarPrevisualizacion()">Convertir</button>
                            <button type="button" id="btnDescargarVideo" class="btnDescargarVideo">Descargar</button>

                        </div>
        
                    </form>
        
                </div>

                <div class="panel" id="panelm">
        
                    <form class="enviar-urlm" id="urlForm">
        
                        <div class="form-input-material">
        
                            <input type="text" name="urlm" id="urlm" placeholder=" " autocomplete="off" class="form-control-material url" required />
                            <label for="urlm">URL</label>
                    
                        </div>

                        <div class="loader" id="loader">
                            <div class="loader2" id="loader"></div>
                        </div>

                        <div class="previewm" id="cancionPreview"></div>
        
                        <div class="botones">

                            <button type="button" class="btnm" id="btnm" onclick="mostrarPrevisualizacionCancion()">Comverrtir</button>
                            <button type="button" class="btn_descargarm"  id="btnDescargarMusica">Descargar</button>

                        </div>
        
                    </form>
        
                </div>

                <!-- Este es el panel para quitar el fondo a imagenes -->

                <div class="paneli" id="paneli">

                    <form class="enviar-img" id="enviar-img">

                        <div class="inputimg">

                            <input type="file" name="img-enviada" id="img-enviada" placeholder=" " autocomplete="off" class="imginput" />

                            <label for="img-enviada" class="inputpdf-label">

                                <i class="icono-archivoi" id="icono-archivo"></i>
                                ingresa una imgen

                            </label id=texto-archivo>
                            
                        </div>

                        <div class="loader" id="loader4">
                            <div class="loader2" id="loader"></div>
                        </div>

                        <div class="nombre_archivo_img" id="nombre_archivo_img">

                            <div class="imagen_img" id="imagen_img"></div>
                            <p id="file-name-img" class="file-name-img"></p>

                        </div>
        
                        <div class="botones">

                            <button type="button" class="img-enviadabtn" id="img-enviadabtn" onclick="mostrarAlertaimgen()">Convertir pdf</button>
                            <button type="button" class="descargar_img-enviada" id="descargar_img-enviada">Descargar</button>

                        </div>

                    </form>

                </div>

                <!-- Este es el panel para convertir pdfs en audios -->

                <div class="panell" id="panell">

                    <form class="enviar-urll" id="urlForml" enctype="multipart/form-data"  action="/enviar-pdfl"  method="post">

                        <div class="inputpdf">

                            <input type="file" name="pdfl" id="pdfl" placeholder=" " autocomplete="off" class="pdfinput" />
                            <label for="pdfl" class="inputpdf-label">

                                <i class="icono-archivo" id="icono-archivo"></i>
                                ingresa un archivo pdf

                            </label id=texto-archivo>
                            
                        </div>

                        <div class="loader" id="loader">
                            <div class="loader2" id="loader"></div>
                        </div>

                        <div class="nombre_archivo" id="nombre_archivo">

                            <div class="imagen_archivo"></div>
                            <p id="file-name" class="file-name"></p>

                        </div>

                        <div class="botones">

                            <button type="button" class="btnl" id="btnl" onclick="descargar_pdf()">Convertir pdf</button>
                            <button type="button" class="btn_descargarm">Descargar</button>

                        </div>

                    </form>
                    
                </div>

            </div>

        </div>

        <script src="../static/script.js"></script>

    </body>

</html>