*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
}

.mains{

    display: flex;
    max-width: 4000px;
    width: 100%;
}

/*animacion de carga*/

.loader {
    display: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
    position: relative;
}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

.loader::before {
    width: 100%;
    height: 100%;
    background: conic-gradient( transparent 20%, #00c4cc,  #5ae3b5);
    mask: radial-gradient(circle, transparent 50%, black 51%);
}

.loader::after{
    width: 13%;
    height: 13%;
    top:7%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: 53d8ba;
    border: inherit;
}

.loader2 {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: spin2 1.2s linear infinite;
    position: relative;
    filter: blur(8px);
}

.loader2::before,
.loader2::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

.loader2::before {
    width: 100%;
    height: 100%;
    background: conic-gradient(transparent , #00c4cc, #5ae3b5);
    mask: radial-gradient(circle, transparent 50%, black 51%);
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

@keyframes spin2 {
    to { transform: rotate(0deg); }
}

/*fin de animacion de carga*/

/*vistas previas*/

.nombre_archivo{
    width: 300px;
    height: 100px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.imagen_archivo{
    background-image: url("../static/img/file.png");
    width: 40px;
    height: 40px;
}

.file-name{
    color: white;
    width: 300px;
    font: oblique bold 80% cursive;
    text-align: center;
}

.nombre_archivo_img{
    width: 300px;
    height: 100px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.imagen_img{
    background-repeat: no-repeat;
    width: 300px;
    height: 100px;
    background-size:contain;
    background-position: center;
    border-radius: 10px;
}


.file-name-img{
    color: white;
    width: 300px;
    font: oblique bold 80% cursive;
    text-align: center;
}

video, iframe {
    width: 220px;
    height: auto;
    border-radius: 10px;
}

/*fin de las vistas previas*/

@media (min-width:1025px) {

    body{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../static/img/fondo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mains{
        display: flex;
        gap: 25px;
        padding: 20px;
        flex-direction: column;
    }

    .container-elements{
        display: flex;
        gap: 30px;
    }

    .container-logo{
        position: relative;
        left: 20px;
        width: 60px;
        height: 60px;
        background: rgb(0,0,0,0.6);
        border-radius: 50%;
        box-shadow: 0px 0px 10px 5px  rgb(90, 227, 181, 0.6);
        border: solid 3px #5AE3B5;
    }

    .logo{
        width: 60px;
        height: 60px;
        background-image: url("../static/img/icono.png");
        background-position: center;
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        filter: drop-shadow(0 0 5px #5AE3B5);
    }

    .menu{
        display: flex;
        background: rgb(0,0,0,0.6);
        max-width: 100px;
        width: auto;
        height: auto;
        box-shadow: 0px 0px 10px 5px  rgb(90, 227, 181, 0.6);
        border: solid 3px #5AE3B5;
        border-radius: 20px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .opciones{
    
        display: flex;
        justify-content: space-between;
        width: auto;
        height: auto;
        border-radius: 30%;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        
    }
    
    .panel{
        display: none;
        background: rgb(0,0,0,0.6);
        max-width: 4000px;
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 10px 5px  rgb(90, 227, 181, 0.6);
        border-radius: 20px;
        border: solid 3px #5AE3B5;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap:20px;
        padding: 50px;
    }

    .paneli{
        display: none;
        background: rgb(0,0,0,0.6);
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 10px 5px  rgb(90, 227, 181, 0.6);
        border: solid 3px #5AE3B5;
        border-radius: 20px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap:20px;
        padding: 50px;
    }

    .panell{
        display: none;
        background: rgb(0,0,0,0.6);
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 10px 5px  rgb(90, 227, 181, 0.6);
        border: solid 3px #5AE3B5;
        border-radius: 20px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        gap:20px;
    }

    .up{

        width: 60px;
        height: 60px;
        background-image: url("../static/img/up.png");
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 15px;
        background-position: center;
        filter: drop-shadow(0 0 5px #5AE3B5);

    }

    .videos {
        width: 60px;
        height: 60px;
        background-image: url("../static/img/tocar.png");
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 15px;
        background-position: center;
        filter: drop-shadow(0 0 5px #5ae3b5);
    }
    
    .musica {
        width: 60px;
        height: 60px;
        background-image: url("../static/img/musica.png");
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 15px;
        background-position: center;
        filter: drop-shadow(0 0 5px #5AE3B5);
    }
    
    .image {
        width: 60px;
        height: 60px;
        background-image: url("../static/img/imagenes.png");
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 15px;
        background-position: center;
        filter: drop-shadow(0 0 5px #5AE3B5);
    }
    
    .lector {
        width: 60px;
        height: 60px;
        background-image: url("../static/img/texto-a-voz.png");
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 15px;
        background-position: center;
        filter: drop-shadow(0 0 5px #5AE3B5);
    }

    .down{
        width: 60px;
        height: 60px;
        background-image: url("../static/img/down.png");
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 15px;
        background-position: center;
        filter: drop-shadow(0 0 5px #5AE3B5);
    }

    .text{
        display: flex;
        color: white;
        font: oblique bold 120% cursive;
        background-color: transparent;
    }
    
    
    .textos{
        padding: 10px;
        height: 25px;
    }
    
    /*formulario*/
    
    .form-input-material {
        --input-default-border-color: white;
        --input-border-bottom-color: white;
        position: relative;
        margin: 12px 0;
    }
    
    .form-input-material input {
        color: white;
        background: transparent;
        border: none;
        border-bottom: 2px solid var(--input-border-bottom-color);
        padding: 10px 0;
        outline: none;
        width: 220px;
        box-sizing: border-box;
    }
    
    .form-input-material label {
        position: absolute;
        top: 10px;
        left: 0;
        color: white;
        transition: 0.2s ease all;
        pointer-events: none;
    }
    
    .form-input-material input:focus ~ label,
    .form-input-material input:not(:placeholder-shown) ~ label {
        top: -20px;
        font-size: 12px;
        color: var(--primary-color, white);
    }
    
    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        width: 100%;
        margin: 18px 0 9px 0;
    }
    
    .enviar-url{
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px; /* Espaciado entre los elementos */
        
    }
    
    .enviar-urlm{
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px; /* Espaciado entre los elementos */
        
    }
    
    /*fin del formulario*/
    
    /*forms para arvhivos*/
    
    .icono-archivo{
        background-image: url("../static/img/subir-archivo.png");
        width: 80px;
        height: 80px;
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-position: center;
        background-size: cover;
    }
    
    .icono-archivoi{
        background-image: url("../static/img/subir-imagen.png");
        width: 80px;
        height: 80px;
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-position: center;
        background-size: cover;
    }
    
    .imginput{
        display: flex;
        background-color: white;
        position: absolute;
        top:0;
        left: 0;
        z-index: 2;
        opacity: 0;
        align-items: center;
        justify-content: center;
    }
    
    .pdfinput{
        display: flex;
        background-color: white;
        position: absolute;
        top:0;
        left: 0;
        z-index: 2;
        opacity: 0;
        align-items: center;
        justify-content: center;
    }
    
    .enviar-img{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 20px; /* Espaciado entre los elementos */
    }
    
    .enviar-urll{
    
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 20px; /* Espaciado entre los elementos */
    
    }
    
    .inputpdf-label{
        cursor: pointer;
        width: 300px;
        height: 180px;
        border: 3px dashed white;
        display: flex;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        color: white;
        font: oblique bold 100% cursive; 
        flex-direction: column;
    }
    
    /*fin de los forms para arvhivos*/
    
    /*botones*/
    
    button{
        border: solid #5AE3B5;
        color:#5AE3B5;
        width: 100px;
        height: 40px;
        background: transparent;
        border-radius: 15px;
    }
    
    button:hover {
        background:#5AE3B5;
        box-shadow: 0 0 10px 2px #5AE3B5;
        color: white;
    }
    
    .botones{
        display:flex;
        gap:20px;
    }
    
    /*fin de los botones*/
    
}

@media (max-width: 1024px){

    body{
        display: flex;
        background-color: rgb(21, 21, 21);
        background-image: url("../static/img/fondo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mains{
        flex-direction: column;
        gap: 40px;
        padding: 40px;
        min-width: 500px;
        width: auto;
        width: 100%;
    }

    .container-elements{
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    .container-logo{
        width: 60px;
        height: 60px;
        background: rgb(0,0,0,0.6);
        border-radius: 50%;
        box-shadow: 0px 0px 10px 5px  rgb(90, 227, 181, 0.6);
        border: solid 3px #5AE3B5;
    }

    .logo{
        width: 60px;
        height: 60px;
        background-image: url("../static/img/icono.png");
        background-position: center;
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        filter: drop-shadow(0 0 5px #5AE3B5);
    }

    .menu{
        display: flex;
        background: rgb(0,0,0,0.6);
        min-width: 500px;
        width: auto;
        height: auto;
        box-shadow: 0px 0px 10px 5px  rgb(90, 227, 181, 0.6);
        border: solid 3px #5AE3B5;
        border-radius: 20px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .opciones{
    
        display: flex;
        justify-content: space-between;
        width: auto;
        width: auto;
        height: auto;
        border-radius: 30%;
        align-items: center;
        padding: 30px;
        min-width: 500px;
        gap: 20px;
    }
    
    .panel{

        display: none;
        gap:20%;
        background: rgb(0,0,0,0.6);
        min-width: 200px;
        width: auto;
        height: auto;
        padding: 50px;
        box-shadow: 0px 0px 10px 5px  rgb(90, 227, 181, 0.6);
        border: solid 3px #5AE3B5;
        border-radius: 20px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .paneli{
        display: none;
        gap:20px;
        background: rgb(0,0,0,0.6);
        min-width: 200px;
        width: auto;
        height: auto;
        padding: 50px;
        box-shadow: 0px 0px 10px 5px  rgb(90, 227, 181, 0.6);
        border: solid 3px #5AE3B5;
        border-radius: 20px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .panell{
        display: none;
        gap:20px;
        background: rgb(0,0,0,0.6);
        min-width: 200px;
        width: auto;
        height: auto;
        padding: 50px;
        box-shadow: 0px 0px 10px 5px  rgb(90, 227, 181, 0.6);
        border: solid 3px #5AE3B5;
        border-radius: 20px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .up {
        min-width: 30px;
        min-height:50px;
        width: auto;
        height: auto;
        background-image: url("../static/img/left.png");
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 15px;
        background-position: center;
        filter: drop-shadow(0 0 5px #5AE3B5);
    }

    .videos {
        min-width: 80px;
        min-height:80px;
        width: auto;
        height: auto;
        background-image: url("../static/img/tocar2.png");
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 15px;
        background-position: center;
        filter: drop-shadow(0 0 5px #5AE3B5);
    }
    
    .musica {
        min-width: 80px;
        min-height:80px;
        width: auto;
        height: auto;
        background-image: url("../static/img/musica2.png");
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 15px;
        background-position: center;
        filter: drop-shadow(0 0 5px #5AE3B5);
    }
    
    .image {
        min-width: 80px;
        min-height:80px;
        width: auto;
        height: auto;
        background-image: url("../static/img/imagenes2.png");
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 15px;
        background-position: center;
        filter: drop-shadow(0 0 5px #5AE3B5);
    }
    
    .lector {
        min-width: 80px;
        min-height:80px;
        width: auto;
        height: auto;
        background-image: url("../static/img/texto-a-voz2.png");
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 15px;
        background-position: center;
        filter: drop-shadow(0 0 5px #5AE3B5);
    }

    .down {
        min-width: 30px;
        min-height:50px;
        width: auto;
        height: auto;
        background-image: url("../static/img/right.png");
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 15px;
        background-position: center;
        filter: drop-shadow(0 0 5px #5AE3B5);
    }

    .text{
        display: flex;
        color: white;
        font: oblique bold 120% cursive;
        background-color: transparent;
    }
    
    
    .textos{
        padding: 10px;
        height: 25px;
    }
    
    /*formulario*/
    
    .form-input-material {
        --input-default-border-color: white;
        --input-border-bottom-color: white;
        position: relative;
        margin: 12px 0;
    }
    
    .form-input-material input {
        color: white;
        background: transparent;
        border: none;
        border-bottom: 2px solid var(--input-border-bottom-color);
        padding: 10px 0;
        outline: none;
        width: 220px;
        box-sizing: border-box;
    }
    
    .form-input-material label {
        position: absolute;
        top: 10px;
        left: 0;
        color: white;
        transition: 0.2s ease all;
        pointer-events: none;
    }
    
    .form-input-material input:focus ~ label,
    .form-input-material input:not(:placeholder-shown) ~ label {
        top: -20px;
        font-size: 12px;
        color: var(--primary-color, white);
    }
    
    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        width: 100%;
        margin: 18px 0 9px 0;
    }
    
    .enviar-url{
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px; /* Espaciado entre los elementos */
        
    }
    
    .enviar-urlm{
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px; /* Espaciado entre los elementos */
        
    }
    
    /*fin del formulario*/
    
    /*forms para arvhivos*/
    
    .icono-archivo{
        background-image: url("../static/img/subir-archivo.png");
        width: 80px;
        height: 80px;
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-position: center;
        background-size: cover;
    }
    
    .icono-archivoi{
        background-image: url("../static/img/subir-imagen.png");
        width: 80px;
        height: 80px;
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-position: center;
        background-size: cover;
    }
    
    .imginput{
        display: flex;
        background-color: white;
        position: absolute;
        top:0;
        left: 0;
        z-index: 2;
        opacity: 0;
        align-items: center;
        justify-content: center;
    }
    
    .pdfinput{
        display: flex;
        background-color: white;
        position: absolute;
        top:0;
        left: 0;
        z-index: 2;
        opacity: 0;
        align-items: center;
        justify-content: center;
    }
    
    .enviar-img{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 20px; /* Espaciado entre los elementos */
    }
    
    .enviar-urll{
    
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 20px; /* Espaciado entre los elementos */
    
    }
    
    .inputpdf-label{
        cursor: pointer;
        width: 300px;
        height: 180px;
        border: 3px dashed white;
        display: flex;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        color: white;
        font: oblique bold 100% cursive; 
        flex-direction: column;
    }
    
    /*fin de los forms para arvhivos*/
    
    /*botones*/
    
    button{
        border: solid #5AE3B5;
        color:#5AE3B5;
        width: 100px;
        height: 40px;
        background: transparent;
        border-radius: 15px;
    }
    
    button:hover {
        background:#5AE3B5;
        box-shadow: 0 0 15px 6px #5AE3B5;
        color: white;
    }
    
    .botones{
        display:flex;
        gap:20px;
    }

}

@media (max-width: 480px){

    body{
        display: flex;
        background-color: rgb(21, 21, 21);
    }

    .mains{
        flex-direction: column;
        gap: 40px;
        padding: 20px;
        min-width: 300px;
        width: auto;
        width: 100%;
    }

    .container-elements{
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    .container-logo{
        width: 60px;
        height: 60px;
        background: rgb(0,0,0,0.6);
        border-radius: 50%;
        box-shadow: 0px 0px 10px 5px  rgb(90, 227, 181, 0.6);
        border: solid 3px #5AE3B5;
    }

    .logo{
        width: 60px;
        height: 60px;
        background-image: url("../static/img/icono.png");
        background-position: center;
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        filter: drop-shadow(0 0 5px #5AE3B5);
    }

    .menu{
        display: flex;
        background: rgb(0,0,0,0.6);
        min-width: 200px;
        width: auto;
        height: auto;
        box-shadow: 0px 0px 10px 5px  rgb(90, 227, 181, 0.6);
        border: solid 3px #5AE3B5;
        border-radius: 20px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .opciones{
    
        display: flex;
        justify-content: space-between;
        width: auto;
        width: 100%;
        height: auto;
        border-radius: 30%;
        align-items: center;
        padding: 30px;
        min-width: 200px;
    }
    
    .panel{

        display: none;
        gap:20%;
        background: rgb(0,0,0,0.6);
        min-width: 200px;
        width: auto;
        height: 100%;
        box-shadow: 0px 0px 10px 5px  rgb(90, 227, 181, 0.6);
        border: solid 3px #5AE3B5;
        border-radius: 20px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .paneli{
        display: none;
        gap:20px;
        background: rgb(0,0,0,0.6);
        min-width: 200px;
        width: auto;
        height: 100%;
        box-shadow: 0px 0px 10px 5px  rgb(90, 227, 181, 0.6);
        border: solid 3px #5AE3B5;
        border-radius: 20px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .panell{
        display: none;
        gap:20px;
        background: rgb(0,0,0,0.6);
        min-width: 200px;
        width: auto;
        height: 100%;
        box-shadow: 0px 0px 10px 5px  rgb(90, 227, 181, 0.6);
        border: solid 3px #5AE3B5;
        border-radius: 20px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .up {
        min-width: 40px;
        min-height: 40px;
        width: auto;
        height: auto;
        background-image: url("../static/img/left3.png");
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 15px;
        background-position: center;
        filter: drop-shadow(0 0 15px #5AE3B5);
    }

    .videos {
        min-width: 40px;
        min-height: 40px;
        width: auto;
        height: auto;
        background-image: url("../static/img/tocar3.png");
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 15px;
        object-fit: cover;
        background-position: center;
        filter: drop-shadow(0 0 15px #5AE3B5);
    }
    
    .musica {
        min-width: 40px;
        min-height: 40px;
        width: auto;
        height: auto;
        background-image: url("../static/img/musica3.png");
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 15px;
        background-position: center;
        filter: drop-shadow(0 0 15px #5AE3B5);
    }
    
    .image {
        min-width: 40px;
        min-height: 40px;
        width: auto;
        height: auto;
        background-image: url("../static/img/imagenes3.png");
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 15px;
        background-position: center;
        filter: drop-shadow(0 0 15px #5AE3B5);
    }
    
    .lector {
        min-width: 40px;
        min-height: 40px;
        width: auto;
        height: auto;
        background-image: url("../static/img/texto-a-voz3.png");
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 15px;
        background-position: center;
        filter: drop-shadow(0 0 15px #5AE3B5);
    }

    .down {
        min-width: 40px;
        min-height: 40px;
        width: auto;
        height: auto;
        background-image: url("../static/img/right3.png");
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        border-radius: 15px;
        background-position: center;
        filter: drop-shadow(0 0 15px #5AE3B5);
    }
    .text{
        display: flex;
        color: white;
        font: oblique bold 120% cursive;
        background-color: transparent;
    }
    
    
    .textos{
        padding: 10px;
        height: 25px;
    }
    
    /*formulario*/
    
    .form-input-material {
        --input-default-border-color: white;
        --input-border-bottom-color: white;
        position: relative;
        margin: 12px 0;
    }
    
    .form-input-material input {
        color: white;
        background: transparent;
        border: none;
        border-bottom: 2px solid var(--input-border-bottom-color);
        padding: 10px 0;
        outline: none;
        width: 220px;
        box-sizing: border-box;
    }
    
    .form-input-material label {
        position: absolute;
        top: 10px;
        left: 0;
        color: white;
        transition: 0.2s ease all;
        pointer-events: none;
    }
    
    .form-input-material input:focus ~ label,
    .form-input-material input:not(:placeholder-shown) ~ label {
        top: -20px;
        font-size: 12px;
        color: var(--primary-color, white);
    }
    
    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        width: 100%;
        margin: 18px 0 9px 0;
    }
    
    .enviar-url{
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px; /* Espaciado entre los elementos */
        
    }
    
    .enviar-urlm{
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px; /* Espaciado entre los elementos */
        
    }
    
    /*fin del formulario*/
    
    /*forms para arvhivos*/
    
    .icono-archivo{
        background-image: url("../static/img/subir-archivo.png");
        width: 80px;
        height: 80px;
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-position: center;
        background-size: cover;
    }
    
    .icono-archivoi{
        background-image: url("../static/img/subir-imagen.png");
        width: 80px;
        height: 80px;
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-position: center;
        background-size: cover;
    }
    
    .imginput{
        display: flex;
        background-color: white;
        position: absolute;
        top:0;
        left: 0;
        z-index: 2;
        opacity: 0;
        align-items: center;
        justify-content: center;
    }
    
    .pdfinput{
        display: flex;
        background-color: white;
        position: absolute;
        top:0;
        left: 0;
        z-index: 2;
        opacity: 0;
        align-items: center;
        justify-content: center;
    }
    
    .enviar-img{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 20px; /* Espaciado entre los elementos */
    }
    
    .enviar-urll{
    
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 20px; /* Espaciado entre los elementos */
    
    }
    
    .inputpdf-label{
        cursor: pointer;
        width: 300px;
        height: 180px;
        border: 3px dashed white;
        display: flex;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        color: white;
        font: oblique bold 100% cursive; 
        flex-direction: column;
    }
    
    /*fin de los forms para arvhivos*/
    
    /*botones*/
    
    button{
        border: solid #5AE3B5;
        color:#5AE3B5;
        width: 100px;
        height: 40px;
        background: transparent;
        border-radius: 15px;
    }
    
    button:hover {
        background:#5AE3B5;
        box-shadow: 0 0 15px 6px #5AE3B5;
        color: white;
    }
    
    .botones{
        display:flex;
        gap:20px;
    }
    
    /*fin de los botones*/

}